In [10]:
#! importing libraries
import numpy as np
import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn import svm
# from sklearn.metrics import accuracy_score

#! importing geocoder library
# from geopy.geocoders import Nominatim
# from pprint import pprint

In [22]:

#!import the csv files
crimeDataset = pd.read_csv('newCrimeDataset.csv')
crimeDataset.tail()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
81,Kidnapping,07-13-2023,Father's Name (NA),NaN,Male,Child snatched from mother outside pre-school,"Mumbai, India",Three-year-old child,Male,3,Child traced and reunited with mother in Tamil...,<https://timesofindia.indiatimes.com/city/mumb...
82,Kidnapping,"Dec 3-4, 2023",NaN,NaN,NaN,Six children go missing in Navi Mumbai,"Navi Mumbai, Maharashtra",NaN,"Various (Girls = 5, Boys = 1)",12-15 years old,Extensive efforts underway to locate and bring...,<https://timesofindia.indiatimes.com/city/than...
83,Murder,"Dec 5, 2023",NaN,NaN,NaN,8-year-old girl found deceased in a locked roo...,"Vasai, Mumbai",NaN,Female,8 years old,"Case of murder registered, body sent for autop...",<https://timesofindia.indiatimes.com/city/mumb...
84,"Kidnapping, Robbery",12-12-2023,"Himanshu Gupta, Saurabh Kharat, Karan Verma",NaN,Male,"Two brothers lured to Mumbai for US visas, rob...",Mumbai,"Abhishek Kumar, Himanshu Kumar",Male,"24, 24",Eight members of a gang arrested for robbing a...,<https://timesofindia.indiatimes.com/city/mumb...
85,Rape,12-12-2020,NaN,NaN,Male,"Sexually assaulted a 4-year-old girl, tried to...","Fatherwadi in Vasai, Mumbai",A 4-year-old girl,Female,4,Refused bail due to the heinous nature of the ...,<https://timesofindia.indiatimes.com/city/mumb...

In [23]:
crimeDataset.shape

(86, 12)

In [24]:
crimeDataset.describe()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
count,84,78,64,46,76,86,86,54,69,44,86,86
unique,20,75,63,34,9,86,78,51,5,33,86,86
top,Kidnapping,22-02-2024,Natalina Almeida,32,Male,Stolen valuables worth Rs 47 lakh from bank lo...,"Mumbai, India",Vishal Kamble,Male,4,Bank officer arrested for stealing valuables u...,<https://timesofindia.indiatimes.com/city/mumb...
freq,33,3,2,4,64,1,4,2,47,3,1,1

In [25]:

#! Cleaning the data
print(crimeDataset.isnull().sum())

#? replacing all the - with NA
CleanedCrimeDataset = crimeDataset.replace('NA','NA')
CleanedCrimeDataset.fillna('NA',inplace=True)

CleanedCrimeDataset.head()

# crimeDataset.to_csv('CrimeDataset.csv',index=False)

Type of crime         2
Date of Offend        8
Off.Name             22
Off.age              40
Off.gender           10
crime description     0
crime Location        0
Name of victim       32
Victim Gender        17
Victim Age           42
Conclusion            0
Link/source           0
dtype: int64

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
0,Theft,04-08-2023,Dilip Chavan,35,Male,Stolen valuables worth Rs 47 lakh from bank lo...,"Walkeshwar branch of a nationalised bank, Mumbai","Two victims (one female, aged 28 and one male,...","['Female', 'Male']",46,Bank officer arrested for stealing valuables u...,<https://timesofindia.indiatimes.com/city/mumb...
1,Theft,1990-NA-NA,Vishwanath alias Bala Pawar,73,Male,Accused hid for 32 years after being declared ...,"Bhayander, Mumbai",NA,NA,NA,Runaway robbery accused traced and arrested af...,<https://timesofindia.indiatimes.com/city/mumb...
2,Theft,24-05-2023,NA,16,Male,Detained for robbery and vehicle thefts,"Wakad, Pune",19-year-old mechanic,Male,19,Minor admitted involvement in thefts and was s...,<https://timesofindia.indiatimes.com/city/pune...
3,Robbery,01-07-2023,NA,NA,Male (3),"Teen bundled into auto, mugged by 3","Ghatkopar, Mumbai",Class 12th student,Male,18,Triple robbery at gunpoint,<https://timesofindia.indiatimes.com/city/mumb...
4,Burglary,11-12-2022,"Lateef Shaikh, Radhhe Bhola Shaw","30, 27","Male, Male",Rs 10 lakh burglary of wedding jewellery,Mumbai,NA,NA,NA,Police arrested two suspects and recovered 90%...,<https://timesofindia.indiatimes.com/city/mumb...

In [16]:

#! geoencoding locations

for i in CleanedCrimeDataset['crime Location']:
    # print(i)
    try:
        coordinates = app.geocode(i)
    except Exception as e:
        print(f'Error -> {e}')
    if coordinates != None:
        final_cord = coordinates.raw['lat']+","+coordinates.raw['lon']
        CleanedCrimeDataset['crime Location'] = CleanedCrimeDataset['crime Location'].replace(i,final_cord)
    # print(coordinates['lat'])

Error -> name 'app' is not defined

NameError: name 'coordinates' is not defined

In [17]:
import requests
import json

GOOGLE_API_KEY = 'AIzaSyAyJmtx8Wzwd_DU12xfnaFLJHV9Z-V1VSI' 
api_key = GOOGLE_API_KEY

for i in CleanedCrimeDataset['crime Location'][170:]:
    
    lat, lng = None, None    
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={i}&key={api_key}"
    # see how our endpoint includes our API key? Yes this is yet another reason to restrict the key
    try:
        r = requests.get(endpoint,timeout=5)
    except:
        print("Timeout")
        continue
    if r.status_code not in range(200, 299):
        continue
    try:
        '''
        This try block incase any of our inputs are invalid. This is done instead
        of actually writing out handlers for all kinds of responses.
        '''
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
        geocoded_address = f"{lat},{lng}"

            # Update the 'crime Location' column with the geocoded address
        CleanedCrimeDataset['crime Location'] = CleanedCrimeDataset['crime Location'].replace(i,geocoded_address)
        # print(f"Geocoded '{i}' to: {geocoded_address}")
    except:
        pass

In [ ]:
CleanedCrimeDataset.head()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
0,Theft,30-10-2023,Nikhil Vaishya,38,M,Theft,"19.1177772,72.86305349999999",Shashikala More,F,25,The offender was arrested,https://timesofindia.indiatimes.com/city/mumba...
1,Murder,17-01-2024,Saeedur Rehman Sheikh,NA,M,Killed with a scissor,"19.0759837,72.8776559",Hussain,M,NA,NA,https://timesofindia.indiatimes.com/city/mumba...
2,Vandalising Property in riots,22-01-2024,13 offenders,NA,M,13 mobs attacked on cars,"19.2869382,72.86187509999999",Vinod Jaiswal,M,43,Offenders arrested,https://timesofindia.indiatimes.com/city/mumba...
3,Drug-related Offense,03-02-2024,Mahendra Chandra Singh,40,NA,Arrested with 1.02 kg of mephedrone worth Rs 2...,"19.135085,72.81461",NA,NA,NA,Ongoing investigation,https://www.outlookindia.com/national/mumbai-f...
4,Drug-related Offense,03-02-2024,Sayed Murtuza Fahmi,37,NA,Allegedly involved with Mahendra Chandra Singh...,"19.135085,72.81461",NA,NA,NA,Ongoing investigation,https://www.mid-day.com/mumbai/mumbai-crime-ne...

In [19]:
#! Modifying the conclusion

CleanedCrimeDataset['Conclusion'].replace('NA', 'Ongoing Investigation', inplace=True)
CleanedCrimeDataset['Name of victim'].replace('NA', 'Unknown', inplace=True)
CleanedCrimeDataset.tail()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
252,Kidnapping,07-13-2023,Father's Name (NA),NA,Male,Child snatched from mother outside pre-school,"19.0759837,72.8776559",Three-year-old child,Male,3,Child traced and reunited with mother in Tamil...,https://timesofindia.indiatimes.com/city/mumba...
253,Kidnapping,"Dec 3-4, 2023",NA,NA,NA,Six children go missing in Navi Mumbai,"19.0330488,73.0296625",Unknown,"Various (Girls = 5, Boys = 1)",12-15 years old,Extensive efforts underway to locate and bring...,https://timesofindia.indiatimes.com/city/thane...
254,Murder,"Dec 5, 2023",NA,NA,NA,8-year-old girl found deceased in a locked roo...,"19.3919275,72.8397317",Unknown,Female,8 years old,"Case of murder registered, body sent for autop...",https://timesofindia.indiatimes.com/city/mumba...
255,"Kidnapping, Robbery",12-12-2023,"Himanshu Gupta, Saurabh Kharat, Karan Verma",NA,Male,"Two brothers lured to Mumbai for US visas, rob...","19.0759837,72.8776559","Abhishek Kumar, Himanshu Kumar",Male,"24, 24",Eight members of a gang arrested for robbing a...,https://timesofindia.indiatimes.com/city/mumba...
256,Rape,12-12-2020,NA,NA,Male,"Sexually assaulted a 4-year-old girl, tried to...","19.4060877,72.84490140000001",A 4-year-old girl,Female,4,Refused bail due to the heinous nature of the ...,https://timesofindia.indiatimes.com/city/mumba...

In [ ]:
CleanedCrimeDataset.to_csv('ProcessedData.csv', index=False)

print("Data successfully written to ProcessedData.csv")

Data successfully written to ProcessedData.csv

In [26]:
MinimalDataset = CleanedCrimeDataset.drop(columns=['Date of Offend','Off.Name','Off.age','Off.gender','Name of victim','Victim Gender','Victim Age','Link/source'])
print(MinimalDataset['Type of crime'].value_counts())
MinimalDataset.head()

Kidnapping                       33
Theft                            13
Murder                           12
Robbery                           6
Sexual Harassment                 4
NA                                2
Burglary                          2
Murder and Robbery                1
Dacoity                           1
Theft, Robbery                    1
Car Theft                         1
Illegal Possession of Firearm     1
Kidnapping, Theft                 1
Kidnapping and Extortion          1
kidnapping                        1
Human Trafficking                 1
Faked Disappearance               1
Assault                           1
Kidnapping, promoting enmity      1
Kidnapping, Robbery               1
Rape                              1
Name: Type of crime, dtype: int64

,Type of crime,crime description,crime Location,Conclusion
0,Theft,Stolen valuables worth Rs 47 lakh from bank lo...,"Walkeshwar branch of a nationalised bank, Mumbai",Bank officer arrested for stealing valuables u...
1,Theft,Accused hid for 32 years after being declared ...,"Bhayander, Mumbai",Runaway robbery accused traced and arrested af...
2,Theft,Detained for robbery and vehicle thefts,"Wakad, Pune",Minor admitted involvement in thefts and was s...
3,Robbery,"Teen bundled into auto, mugged by 3","Ghatkopar, Mumbai",Triple robbery at gunpoint
4,Burglary,Rs 10 lakh burglary of wedding jewellery,Mumbai,Police arrested two suspects and recovered 90%...

In [ ]:

#! filling up missing values for age and gender


#!import the csv files
crimeDataset = pd.read_csv('ProcessedData.csv')
crimeDataset.head()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
0,Theft,30-10-2023,Nikhil Vaishya,38,M,Theft,"19.1177772,72.86305349999999",Shashikala More,F,25,The offender was arrested,https://timesofindia.indiatimes.com/city/mumba...
1,Murder,17-01-2024,Saeedur Rehman Sheikh,NaN,M,Killed with a scissor,"19.0759837,72.8776559",Hussain,M,NaN,Ongoing Investigation,https://timesofindia.indiatimes.com/city/mumba...
2,Vandalising Property in riots,22-01-2024,13 offenders,NaN,M,13 mobs attacked on cars,"19.2869382,72.86187509999999",Vinod Jaiswal,M,43,Offenders arrested,https://timesofindia.indiatimes.com/city/mumba...
3,Drug-related Offense,03-02-2024,Mahendra Chandra Singh,40,NaN,Arrested with 1.02 kg of mephedrone worth Rs 2...,"19.135085,72.81461",Unknown,NaN,NaN,Ongoing investigation,https://www.outlookindia.com/national/mumbai-f...
4,Drug-related Offense,03-02-2024,Sayed Murtuza Fahmi,37,NaN,Allegedly involved with Mahendra Chandra Singh...,"19.135085,72.81461",Unknown,NaN,NaN,Ongoing investigation,https://www.mid-day.com/mumbai/mumbai-crime-ne...

In [ ]:
# Iterate through the rows
for index, row in crimeDataset.iterrows():
    # Check if 'Off.age' is a list
    if isinstance(row['Off.age'], list):
        # Convert ages to numeric and calculate average
        ages = [float(age) for age in row['Off.age'] if str(age).replace('.', '', 1).isdigit()]
        if ages:
            avg_age = sum(ages) / len(ages)
            crimeDataset.at[index, 'Off.age'] = avg_age
    
    # Check if 'Off.gender' is a list
    if isinstance(row['Off.gender'], list):
        # Take mode of genders
        genders = [gender for gender in row['Off.gender'] if isinstance(gender, str)]
        if genders:
            mode_gender = max(set(genders), key=genders.count)
            crimeDataset.at[index, 'Off.gender'] = mode_gender

# Check if there are any remaining missing values
missing_values = crimeDataset.isnull().sum()
print(missing_values)

Type of crime         0
Date of Offend       13
Off.Name             40
Off.age               0
Off.gender            0
crime description     0
crime Location       12
Name of victim        0
Victim Gender         0
Victim Age            0
Conclusion            0
Link/source           0
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

# Define genders and age ranges
genders = ['Male', 'Female']
min_age = 18
max_age = 80

# Replace missing values in Victim Gender with random values
crimeDataset['Victim Gender'] = crimeDataset['Victim Gender'].fillna(
    crimeDataset['Victim Gender'].apply(lambda x: np.random.choice(genders) if pd.isna(x) else x))

# Replace missing values in Victim Age with random values
crimeDataset['Victim Age'] = crimeDataset['Victim Age'].fillna(
    crimeDataset['Victim Age'].apply(lambda x: np.random.randint(min_age, max_age + 1) if pd.isna(x) else x))

# Check for remaining missing values
missing_values = crimeDataset.isnull().sum()
print(missing_values)

Type of crime         0
Date of Offend       13
Off.Name             40
Off.age               0
Off.gender            0
crime description     0
crime Location       12
Name of victim        0
Victim Gender         0
Victim Age            0
Conclusion            0
Link/source           0
dtype: int64

In [ ]:
import pandas as pd

# Replace values in all columns using dictionary and regex
replacements = {"Male": "M", "Female": "F"}
crimeDataset = crimeDataset.replace(replacements, regex=True)

# Print the modified crimeDataset (optional)
# print(crimeDataset)

In [ ]:
# for row in crimeDataset['Type of crime']:
#     # print(row['Type of crime'])
#     print(row)

In [ ]:
crimeDataset.to_csv('ProcessedData_2.csv', index=False)

print("Data successfully written to ProcessedData_2.csv")

Data successfully written to ProcessedData.csv