In [1]:
#! importing libraries
import numpy as np
import pandas as pd
import random
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn import svm
# from sklearn.metrics import accuracy_score

#! importing geocoder library
# from geopy.geocoders import Nominatim
# from pprint import pprint

In [2]:

#!import the csv files
crimeDataset = pd.read_csv('newCrimeDataset_2.csv')
crimeDataset.tail()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
312,Crimes against women,01-01-2023 to 31-12-2023,NaN,NaN,NaN,Uptick in crimes against women last year compa...,"Ghaziabad, India",NaN,Female,NaN,"Significant increase in rape, cruelty by husba...",<https://timesofindia.indiatimes.com/city/ghaz...
313,Crimes against women,01-01-2023 to 31-12-2023,NaN,NaN,NaN,Uptick in crimes against women last year compa...,"Ghaziabad, India",NaN,Female,NaN,"Significant increase in rape, cruelty by husba...",<https://timesofindia.indiatimes.com/city/ghaz...
314,NaN,NaN,NaN,NaN,NaN,Indian city Kolkata is the safest as per the l...,"Kolkata, India",NaN,NaN,NaN,Kolkata has the lowest number of cognizable of...,<https://timesofindia.indiatimes.com/etimes/tr...
315,Cruelty by husband or relatives,NaN,NaN,NaN,Male,Accounts for majority of cases of crime agains...,Delhi,NaN,Female,NaN,Highest rate of crime against women in the cou...,<https://timesofindia.indiatimes.com/india/cru...
316,Crime against women,NaN,National Crime Records Bureau (NCRB),NaN,NaN,Approximately 51 FIRs every hour,India,Women,Female,NaN,An increase of approximately 51 FIRs every hou...,https://timesofindia.indiatimes.com/india/indi...

In [3]:
crimeDataset.shape

(317, 12)

In [4]:
crimeDataset.describe()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
count,311,295,243,199,290,317,317,245,291,203,317,317
unique,37,87,65,36,13,114,100,65,9,41,112,115
top,Murder,16-11-1994,Anil Dubey,28,Male,Allegedly killed a woman and her four children...,"Virar, Mumbai",Shraddha Walkar,Female,19,Arrested in UP's Jaunpur after 29 years of com...,<https://timesofindia.indiatimes.com/city/mumb...
freq,110,13,17,19,258,8,21,16,199,17,8,8

In [5]:

#! Cleaning the data
print(crimeDataset.isnull().sum())

#? replacing all the - with NA
CleanedCrimeDataset = crimeDataset.replace('NA','NA')
CleanedCrimeDataset.fillna('NA',inplace=True)

CleanedCrimeDataset.head()

Type of crime          6
Date of Offend        22
Off.Name              74
Off.age              118
Off.gender            27
crime description      0
crime Location         0
Name of victim        72
Victim Gender         26
Victim Age           114
Conclusion             0
Link/source            0
dtype: int64

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source
0,Murder,"Dec 7, 2023",14-year-old boy,14,Male,Prime suspect in the murder of an 8-year-old girl,"Vasai, Mumbai",NA,Female,8,14-year-old boy apprehended for the murder of ...,<https://timesofindia.indiatimes.com/city/mumb...
1,Murder,May-17-2023,Shivam Mishra,20,Male,Assaulted and killed two teenagers at his tea ...,"Namaste Tea Cafe, Gala Nagar, Nalasopara","[Rounak Tiwari, Kishan Jha]","[Male, Male]","[18, 18]",Accused tried to make it look like work of uni...,<https://timesofindia.indiatimes.com/city/mumb...
2,Murder,22-08-2023,Vaibhav,17,Male,Allegedly killed mother with an axe over affai...,"Depivli village, Vasai",Sunita Ghogra,Female,36,Son arrested for killing mother over affair su...,<https://timesofindia.indiatimes.com/city/mumb...
3,Murder,18-05-2022,Aaftab Poonawala,NA,Male,Daughter's body chopped into nearly 35 pieces ...,"Chattarpur Pahadi area, Delhi",Shraddha Walkar,Female,27,Accused confessed to the crime but remains at ...,<https://timesofindia.indiatimes.com/india/cla...
4,Murder,18-05-2022,Aaftab Poonawala,28,Male,Allegedly murdered girlfriend Shraddha Walker ...,Delhi,Shraddha Walker,Female,NA,Displayed signs of antisocial personality diso...,<https://timesofindia.indiatimes.com/india/aaf...

In [6]:
CleanedCrimeDataset['Off.gender'].value_counts()

Male                                258
NA                                   27
Transgender                           6
Male, Male                            4
Male (2 robbers)                      4
['Male', 'Male', 'Male', 'Male']      4
Male (2)                              3
Male (three)                          3
Male and Female                       3
Aaftab Poonawala                      1
Male (collective)                     1
Female                                1
Chinese men                           1
Foreign nationals                     1
Name: Off.gender, dtype: int64

In [7]:
# for i in CleanedCrimeDataset['Off.gender']:
#     if 'Male' in i:
#         print('HI')
#         i = i.replace(i,'M')
#     if 'Female' in i:
#         i = i.replace(i,'F')

for i, row in CleanedCrimeDataset.iterrows():
    if 'Male' in row['Off.gender']:
        CleanedCrimeDataset.at[i,'Off.gender'] = 'M'
    elif 'Female' in row['Off.gender']:
        CleanedCrimeDataset.at[i,'Off.gender'] = 'F'
    else :
        CleanedCrimeDataset.at[i,'Off.gender'] = 'M'
    if 'Male' in row['Victim Gender']:
        CleanedCrimeDataset.at[i,'Victim Gender'] = 'M'
    elif 'Female' in row['Victim Gender']:
        CleanedCrimeDataset.at[i,'Victim Gender'] = 'F'
    else :
        CleanedCrimeDataset.at[i,'Victim Gender'] = 'M'

In [8]:
print(CleanedCrimeDataset['Off.gender'].value_counts())
print(CleanedCrimeDataset['Victim Gender'].value_counts())

M    316
F      1
Name: Off.gender, dtype: int64
F    207
M    110
Name: Victim Gender, dtype: int64

In [9]:
#! Modifying the conclusion
CleanedCrimeDataset['Conclusion'].replace('NA', 'Ongoing Investigation', inplace=True)
CleanedCrimeDataset['Name of victim'].replace('NA', 'Unknown', inplace=True)
CleanedCrimeDataset['Off.Name'].replace('NA', 'Unknown', inplace=True)

In [10]:
print(CleanedCrimeDataset.isnull().sum())
print(CleanedCrimeDataset['Victim Age'].isnull().sum())

Type of crime        0
Date of Offend       0
Off.Name             0
Off.age              0
Off.gender           0
crime description    0
crime Location       0
Name of victim       0
Victim Gender        0
Victim Age           0
Conclusion           0
Link/source          0
dtype: int64
0

In [11]:
crimeCat = ['Theft','Murder','Kidnapping','Sexual Harassment','Robbery']

for i, row in CleanedCrimeDataset.iterrows():
    if crimeCat[0] in row['Type of crime']:
        CleanedCrimeDataset.at[i,'Type of crime'] = crimeCat[0]
    elif crimeCat[1] in row['Type of crime']:
        CleanedCrimeDataset.at[i,'Type of crime'] = crimeCat[1]
    elif crimeCat[2] in row['Type of crime']:
        CleanedCrimeDataset.at[i,'Type of crime'] = crimeCat[2]
    elif crimeCat[3] in row['Type of crime']:
        CleanedCrimeDataset.at[i,'Type of crime'] = crimeCat[3]
    elif crimeCat[4] in row['Type of crime']:
        CleanedCrimeDataset.at[i,'Type of crime'] = crimeCat[4]
    else:
        CleanedCrimeDataset.at[i,'Type of crime'] = 'Other'

In [12]:
CleanedCrimeDataset['Type of crime'].value_counts()

Murder               139
Other                 70
Theft                 55
Sexual Harassment     25
Robbery               24
Kidnapping             4
Name: Type of crime, dtype: int64

In [13]:

for i, row in CleanedCrimeDataset.iterrows():
    if isinstance(row['Victim Age'],str):
        CleanedCrimeDataset.at[i,'Victim Age'] = random.randint(20, 40)
    if isinstance(row['Off.age'],str):
        CleanedCrimeDataset.at[i,'Off.age'] = random.randint(20, 40)

In [14]:
CleanedCrimeDataset['Date of Offend'].replace('NA','01-01-2023',inplace=True)
print(CleanedCrimeDataset['Date of Offend'].value_counts())

01-01-2023      22
16-11-1994      13
18-05-2022       9
Aug 7, 2014      8
27-12-2019       8
                ..
08-04-2023       1
Feb 14, 2023     1
22-08-2022       1
01-04-2023       1
Dec 7, 2023      1
Name: Date of Offend, Length: 88, dtype: int64

In [15]:
for i in CleanedCrimeDataset:
    print(CleanedCrimeDataset[i].value_counts())

Murder               139
Other                 70
Theft                 55
Sexual Harassment     25
Robbery               24
Kidnapping             4
Name: Type of crime, dtype: int64
01-01-2023      22
16-11-1994      13
18-05-2022       9
Aug 7, 2014      8
27-12-2019       8
                ..
08-04-2023       1
Feb 14, 2023     1
22-08-2022       1
01-04-2023       1
Dec 7, 2023      1
Name: Date of Offend, Length: 88, dtype: int64
Unknown                                 76
Anil Dubey                              17
Manoj Sane                              11
Manohar Shukla                          10
Aaftab Poonawala                         9
                                        ..
Dilip Tiwari                             1
Jayendra Vishnu alias Bhai Thakur        1
Girish Nayar                             1
Vaibhav                                  1
National Crime Records Bureau (NCRB)     1
Name: Off.Name, Length: 65, dtype: int64
26    24
28    21
32    19
27    19
35    18
29    17
37    16
25    16
21    15
31    15
23    15
39    15
22    14
33    14
20    12
30    12
38    12
40    12
36    11
24    10
34    10
Name: Off.age, dtype: int64
M    316
F      1
Name: Off.gender, dtype: int64
Allegedly killed a woman and her four children with choppers and knives following enmity                  8
Constable dragged on car bonnet for over 1.5km                                                            5
Bank robbery bid                                                                                          5
Accused of killing truck driver and stealing vehicle with 14.210 tonnes of iron rods worth Rs 25 lakhs    5
Woman found strangled to death in hotel room                                                              5
                                                                                                         ..
Pushed wife in front of speeding train                                                                    1
Strangled victim, chopped body into 18 pieces, disposed of over several days                              1
Recording statement and collecting dental treatment files                                                 1
Strangled husband with a nylon rope after pushing him into a quarry                                       1
Approximately 51 FIRs every hour                                                                          1
Name: crime description, Length: 114, dtype: int64
Virar, Mumbai                                         21
Vasai, Maharashtra, India                             10
Mira road, Mumbai, Maharashtra, India                  8
Manvelpada, Virar (east)                               8
Virar                                                  6
                                                      ..
Tuling and Manickpur police stations, Vasai (east)     1
Vasai (E)                                              1
Vasai town, Maharashtra                                1
Vasai railway station                                  1
India                                                  1
Name: crime Location, Length: 100, dtype: int64
Unknown                      72
Shraddha Walkar              16
Saraswati Vaidya             11
Naina Mahat                  10
Manisha Dhombal               8
                             ..
Constable Jaykumar Rathod     1
Joseph Wilson                 1
Sunil Dubey                   1
Wife's name NA                1
Women                         1
Name: Name of victim, Length: 66, dtype: int64
F    207
M    110
Name: Victim Gender, dtype: int64
34    24
20    23
28    19
37    19
23    18
27    17
39    17
29    16
32    16
36    15
38    15
22    15
31    14
33    13
24    13
40    12
21    12
30    11
35    10
26    10
25     8
Name: Victim Age, dtype: int64
Arrested in UP's Jaunpur after 29 years of committing the crime                                                          8
Accused in custody, trial ongoing                                                                                        6
Police arrested one accused, Rajkumar Chauhan, and are still searching for the other two, Anil Saroj and Sunil Saroj.    5
Accused escaped from court with aide during transfer                                                                     5
Accused on run for 10 years was arrested based on a tip-off                                                              5
                                                                                                                        ..
The car driver was arrested and charged with attempt to murder and other offenses.                                       1
Accused arrested after committing crime                                                                                  1
Collecting dental treatment records for investigation                                                                    1
Wife and lover conspired to kill husband                                                                                 1
An increase of approximately 51 FIRs every hour compared to previous years                                               1
Name: Conclusion, Length: 112, dtype: int64
<https://timesofindia.indiatimes.com/city/mumbai/29-years-after-murder-of-mumbai-woman-4-kids-duo-held-in-up/articleshow/104269811.cms>                                 8
<https://timesofindia.indiatimes.com/city/mumbai/cop-dragged-1-5km-on-car-bonnet-in-vasai-teen-driver-nabbed/articleshow/97896587.cms>                                  5
<https://timesofindia.indiatimes.com/city/thane/bank-robbery-bid-killer-who-fled-from-vasai-court-held-in-48-hours/articleshow/95812364.cms>                            5
<https://timesofindia.indiatimes.com/city/thane/maharashtra-murder-accused-on-run-for-10-years-nabbed-in-vasai/articleshow/92287581.cms>                                5
<https://timesofindia.indiatimes.com/city/mumbai/maharashtra-woman-found-murdered-in-vasai-hotel-boyfriend-absconding/articleshow/89902832.cms>                         5
                                                                                                                                                                       ..
<https://timesofindia.indiatimes.com/city/thane/video-man-pushes-wife-before-speeding-train-arrested-in-thane/articleshow/93730113.cms>                                 1
<https://timesofindia.indiatimes.com/city/delhi/a-year-on-south-delhi-locality-tries-to-move-on-from-horror-killing/articleshow/105340277.cms>                          1
<https://timesofindia.indiatimes.com/city/mumbai/mehrauli-murder-case-delhi-police-in-vasai-record-shraddha-walkars-statement/articleshow/95752957.cms>                 1
<https://timesofindia.indiatimes.com/city/mumbai/woman-and-lover-strangle-husband-to-death-in-mumbai-held/articleshow/99280027.cms>                                     1
https://timesofindia.indiatimes.com/india/india-records-51-cases-of-crime-against-women-every-hour-over-4-4-lakh-cases-in-2022-ncrb-report/articleshow/105731269.cms    1
Name: Link/source, Length: 115, dtype: int64

In [16]:
import requests
import json

GOOGLE_API_KEY = 'AIzaSyAyJmtx8Wzwd_DU12xfnaFLJHV9Z-V1VSI' 
api_key = GOOGLE_API_KEY

for i in CleanedCrimeDataset['crime Location']:
    
    lat, lng = None, None    
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={i}&key={api_key}"
    # see how our endpoint includes our API key? Yes this is yet another reason to restrict the key
    try:
        r = requests.get(endpoint,timeout=5)
    except:
        print("Timeout")
        CleanedCrimeDataset['crime Location'] = CleanedCrimeDataset['crime Location'].replace(i,'0,0')
        continue
    if r.status_code not in range(200, 299):
        continue
    try:
        '''
        This try block incase any of our inputs are invalid. This is done instead
        of actually writing out handlers for all kinds of responses.
        '''
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
        geocoded_address = f"{lat},{lng}"

            # Update the 'crime Location' column with the geocoded address
        CleanedCrimeDataset['crime Location'] = CleanedCrimeDataset['crime Location'].replace(i,geocoded_address)
        # print(f"Geocoded '{i}' to: {geocoded_address}")
    except:
        CleanedCrimeDataset['crime Location'] = CleanedCrimeDataset['crime Location'].replace(i,"0,0")

In [17]:
print(CleanedCrimeDataset['crime Location'].value_counts())
print(CleanedCrimeDataset['crime Location'].head())
print(CleanedCrimeDataset['crime Location'].tail())

19.4563596,72.79246119999999    38
19.3919275,72.8397317           28
19.0759837,72.8776559           19
19.2947381,72.8556177           11
19.0109822,72.84637839999999    10
                                ..
19.6514218,76.38946299999999     1
19.4365223,72.8171114            1
19.3962617,72.8597999            1
18.6320627,73.84679779999999     1
20.593684,78.96288               1
Name: crime Location, Length: 72, dtype: int64
0           19.3919275,72.8397317
1           19.4365223,72.8171114
2           19.3919275,72.8397317
3           28.5055588,77.1836051
4    28.7040592,77.10249019999999
Name: crime Location, dtype: object
312    28.6691565,77.45375779999999
313    28.6691565,77.45375779999999
314     22.572646,88.36389500000001
315    28.7040592,77.10249019999999
316              20.593684,78.96288
Name: crime Location, dtype: object

In [18]:
for i, location in enumerate(CleanedCrimeDataset['crime Location']):
    print(location.split(",")[0],isinstance(location.split(",")[0],str))
    try:
        if len(location.split(",")) == 1:
            CleanedCrimeDataset.at[i, 'crime Location'] = '0.0,0.0'
        elif len(location.split(",")) == 2:
            if not '.' in location.split(",")[0] or not '.' in location.split(",")[1]:
                CleanedCrimeDataset.at[i, 'crime Location'] = '0.0,0.0'
        else:
            # if location == "NA":
            CleanedCrimeDataset.at[i, 'crime Location'] = '0.0,0.0'
            continue
    except:
        print(i)
        CleanedCrimeDataset.at[i, 'crime Location'] = '0.0,0.0'

# After replacing "NA" and single values with '0.0,0.0', split the "crime Location" column into two new columns "lat" and "long"
CleanedCrimeDataset[['lat', 'long']] = CleanedCrimeDataset['crime Location'].str.split(',', expand=True).astype(float)

19.3919275 True
19.4365223 True
19.3919275 True
28.5055588 True
28.7040592 True
19.3563831 True
19.4198627 True
18.6320627 True
19.6514218 True
19.2856374 True
19.4155973 True
19.3748258 True
19.3919275 True
19.3919275 True
19.380429 True
28.5055588 True
19.3919275 True
19.3962617 True
19.2947381 True
28.5204637 True
19.2632912 True
19.2856374 True
19.3919275 True
19.3919275 True
19.354926 True
19.3429113 True
19.0109822 True
19.8761653 True
19.0109822 True
19.4093738 True
19.4256875 True
19.3930716 True
28.5055588 True
19.0759837 True
19.2947381 True
19.3878888 True
19.2947381 True
19.2183307 True
19.4563596 True
28.5204637 True
19.2632912 True
19.2856374 True
19.3919275 True
19.3919275 True
19.354926 True
19.3429113 True
19.0109822 True
19.8761653 True
19.0109822 True
19.4093738 True
19.4256875 True
19.3930716 True
28.5055588 True
19.0759837 True
19.2947381 True
19.3878888 True
19.2947381 True
19.2183307 True
19.4563596 True
19.4547563 True
19.4665047 True
19.0759837 True
18.9257282 True
19.4547563 True
19.3919275 True
19.4472269 True
19.9913534 True
0 True
19.0759837 True
19.4594181 True
19.1198242 True
19.0759837 True
19.4492713 True
19.4492713 True
19.4563596 True
19.4566989 True
18.9911172 True
19.2574665 True
19.4563596 True
28.5204637 True
19.2632912 True
19.2856374 True
19.3919275 True
19.3919275 True
19.354926 True
19.3429113 True
19.0109822 True
19.8761653 True
19.0109822 True
19.4093738 True
19.4256875 True
19.3930716 True
28.5055588 True
19.0759837 True
19.2947381 True
19.3878888 True
19.2947381 True
19.2183307 True
19.4563596 True
19.4547563 True
19.4665047 True
19.0759837 True
18.9257282 True
19.4547563 True
19.3919275 True
19.4472269 True
19.9913534 True
0 True
19.0759837 True
19.4594181 True
19.1198242 True
19.0759837 True
19.4492713 True
19.4492713 True
19.4563596 True
19.4566989 True
18.9911172 True
19.2574665 True
19.4563596 True
19.3113113 True
19.4198627 True
19.2183307 True
19.2812547 True
19.2494357 True
19.0073656 True
0 True
19.4563596 True
19.4563596 True
19.4563596 True
19.4434847 True
19.4563596 True
19.6967136 True
19.9902668 True
19.4563596 True
19.2856374 True
19.4563596 True
19.4563596 True
19.3919275 True
19.3757855 True
28.5204637 True
19.2632912 True
19.2856374 True
19.3919275 True
19.3919275 True
19.354926 True
19.3429113 True
19.0109822 True
19.8761653 True
19.0109822 True
19.4093738 True
19.4256875 True
19.3930716 True
28.5055588 True
19.0759837 True
19.2947381 True
19.3878888 True
19.2947381 True
19.2183307 True
19.4563596 True
19.4547563 True
19.4665047 True
19.0759837 True
18.9257282 True
19.4547563 True
19.3919275 True
19.4472269 True
19.9913534 True
0 True
19.0759837 True
19.4594181 True
19.1198242 True
19.0759837 True
19.4492713 True
19.4492713 True
19.4563596 True
19.4566989 True
18.9911172 True
19.2574665 True
19.4563596 True
19.3113113 True
19.4198627 True
19.2183307 True
19.2812547 True
19.2494357 True
19.0073656 True
0 True
19.4563596 True
19.4563596 True
19.4563596 True
19.4434847 True
19.4563596 True
19.6967136 True
19.9902668 True
19.4563596 True
19.2856374 True
19.4563596 True
19.4563596 True
19.3919275 True
19.3757855 True
19.1438971 True
19.1662566 True
19.4563596 True
19.1662566 True
19.3919275 True
19.3919275 True
18.5529226 True
0 True
19.4551068 True
19.4563596 True
19.3429113 True
19.4551068 True
19.3919275 True
19.0194822 True
19.0177989 True
19.0759837 True
19.1646036 True
19.4600623 True
28.7040592 True
28.6139391 True
28.5204637 True
19.2632912 True
19.2856374 True
19.3919275 True
19.3919275 True
19.354926 True
19.3429113 True
19.0109822 True
19.8761653 True
19.0109822 True
19.4093738 True
19.4256875 True
19.3930716 True
28.5055588 True
19.0759837 True
19.2947381 True
19.3878888 True
19.2947381 True
19.2183307 True
19.4563596 True
19.4547563 True
19.4665047 True
19.0759837 True
18.9257282 True
19.4547563 True
19.3919275 True
19.4472269 True
19.9913534 True
0 True
19.0759837 True
19.4594181 True
19.1198242 True
19.0759837 True
19.4492713 True
19.4492713 True
19.4563596 True
19.4566989 True
18.9911172 True
19.2574665 True
19.4563596 True
19.3113113 True
19.4198627 True
19.2183307 True
19.2812547 True
19.2494357 True
19.0073656 True
0 True
19.4563596 True
19.4563596 True
19.4563596 True
19.4434847 True
19.4563596 True
19.6967136 True
19.9902668 True
19.4563596 True
19.2856374 True
19.4563596 True
19.4563596 True
19.3919275 True
19.3757855 True
19.1438971 True
19.1662566 True
19.4563596 True
19.1662566 True
19.3919275 True
19.3919275 True
18.5529226 True
0 True
19.4551068 True
19.4563596 True
19.3429113 True
19.4551068 True
19.3919275 True
19.0194822 True
19.0177989 True
19.0759837 True
19.1646036 True
19.4600623 True
28.7040592 True
28.6139391 True
26.8885216 True
31.5016951 True
32.427908 True
28.568093 True
8.5241391 True
22.6708317 True
12.9715987 True
22.9867569 True
12.879721 True
26.9124336 True
26.2389469 True
28.5355161 True
29.0587757 True
28.6691565 True
28.6691565 True
22.572646 True
28.7040592 True
20.593684 True

In [19]:
import random

# Function to generate random time of day
def get_random_time_of_day():
    time_of_day = ['Morning', 'Afternoon', 'Evening', 'Night']
    return random.choice(time_of_day)

# Function to generate random location type
def get_random_location_type():
    location_type = ['Residential', 'Commercial', 'Public Park']
    return random.choice(location_type)

# Function to generate random weather conditions
def get_random_weather_conditions():
    weather_conditions = ['Sunny', 'Cloudy', 'Rainy']
    return random.choice(weather_conditions)

# Generate random features
CleanedCrimeDataset['Time_of_Day'] = [get_random_time_of_day() for _ in range(len(CleanedCrimeDataset))]
CleanedCrimeDataset['Location_Type'] = [get_random_location_type() for _ in range(len(CleanedCrimeDataset))]
CleanedCrimeDataset['Weather_Conditions'] = [get_random_weather_conditions() for _ in range(len(CleanedCrimeDataset))]

print(CleanedCrimeDataset)

    Type of crime            Date of Offend  \
0          Murder               Dec 7, 2023
1          Murder               May-17-2023
2          Murder                22-08-2023
3          Murder                18-05-2022
4          Murder                18-05-2022
..            ...                       ...
312         Other  01-01-2023 to 31-12-2023
313         Other  01-01-2023 to 31-12-2023
314         Other                01-01-2023
315         Other                01-01-2023
316         Other                01-01-2023

                                 Off.Name Off.age Off.gender  \
0                         14-year-old boy      25          M
1                           Shivam Mishra      27          M
2                                 Vaibhav      40          M
3                        Aaftab Poonawala      27          M
4                        Aaftab Poonawala      27          M
..                                    ...     ...        ...
312                               Unknown      34          M
313                               Unknown      26          M
314                               Unknown      40          M
315                               Unknown      26          M
316  National Crime Records Bureau (NCRB)      27          M

                                     crime description  \
0    Prime suspect in the murder of an 8-year-old girl
1    Assaulted and killed two teenagers at his tea ...
2    Allegedly killed mother with an axe over affai...
3    Daughter's body chopped into nearly 35 pieces ...
4    Allegedly murdered girlfriend Shraddha Walker ...
..                                                 ...
312  Uptick in crimes against women last year compa...
313  Uptick in crimes against women last year compa...
314  Indian city Kolkata is the safest as per the l...
315  Accounts for majority of cases of crime agains...
316                   Approximately 51 FIRs every hour

                   crime Location               Name of victim Victim Gender  \
0           19.3919275,72.8397317                      Unknown             F
1           19.4365223,72.8171114  [Rounak Tiwari, Kishan Jha]             M
2           19.3919275,72.8397317                Sunita Ghogra             F
3           28.5055588,77.1836051              Shraddha Walkar             F
4    28.7040592,77.10249019999999              Shraddha Walker             F
..                            ...                          ...           ...
312  28.6691565,77.45375779999999                      Unknown             F
313  28.6691565,77.45375779999999                      Unknown             F
314   22.572646,88.36389500000001                      Unknown             M
315  28.7040592,77.10249019999999                      Unknown             F
316            20.593684,78.96288                        Women             F

    Victim Age                                         Conclusion  \
0           26  14-year-old boy apprehended for the murder of ...
1           39  Accused tried to make it look like work of uni...
2           24  Son arrested for killing mother over affair su...
3           22  Accused confessed to the crime but remains at ...
4           33  Displayed signs of antisocial personality diso...
..         ...                                                ...
312         30  Significant increase in rape, cruelty by husba...
313         20  Significant increase in rape, cruelty by husba...
314         23  Kolkata has the lowest number of cognizable of...
315         20  Highest rate of crime against women in the cou...
316         29  An increase of approximately 51 FIRs every hou...

                                           Link/source        lat       long  \
0    <https://timesofindia.indiatimes.com/city/mumb...  19.391928  72.839732
1    <https://timesofindia.indiatimes.com/city/mumb...  19.436522  72.817111
2    <https://timesofindia.indiatimes.com/city/mumb...  19.391928  72.839732
3    <https://timesofindia.indiatimes.com/india/cla...  28.505559  77.183605
4    <https://timesofindia.indiatimes.com/india/aaf...  28.704059  77.102490
..                                                 ...        ...        ...
312  <https://timesofindia.indiatimes.com/city/ghaz...  28.669156  77.453758
313  <https://timesofindia.indiatimes.com/city/ghaz...  28.669156  77.453758
314  <https://timesofindia.indiatimes.com/etimes/tr...  22.572646  88.363895
315  <https://timesofindia.indiatimes.com/india/cru...  28.704059  77.102490
316  https://timesofindia.indiatimes.com/india/indi...  20.593684  78.962880

    Time_of_Day Location_Type Weather_Conditions
0         Night    Commercial              Rainy
1       Evening   Residential              Rainy
2         Night    Commercial             Cloudy
3     Afternoon   Residential              Sunny
4     Afternoon    Commercial              Sunny
..          ...           ...                ...
312       Night    Commercial             Cloudy
313     Morning    Commercial             Cloudy
314   Afternoon   Residential              Sunny
315     Evening    Commercial              Rainy
316   Afternoon   Residential              Sunny

[317 rows x 17 columns]

In [20]:
CleanedCrimeDataset.to_csv('ProccessedData_2.csv',index=False)